@model WebApplication1.Models.Data
@using WebApplication1.Models;

@{
    Layout = null;
}
@{ int rowNo = 0; }
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/Style/GradeTable.css" />
<link rel="stylesheet" type="text/css" href="~/Style/Page.css" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateGrade</title>
</head>
<body>
    <form id="form1" runat="server">
        <div id="menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Admin")">
                        <span class="glyphicon glyphicon-home"></span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout", "Admin")">
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </form>
    <br />
    <br />
    <br />
    <div>
        <h1>Update grades:</h1>
        @using (Html.BeginForm("UpdateGradePage", "Admin", FormMethod.Post))
        {
            <p>
                Select Student to edit:
                <table class="paleBlueRows">
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Student name</th>
                            <th>Student ID</th>
                            <th>MoedA grade</th>
                            <th>MoedB grade</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    @foreach (Data dat in ViewBag.students)
                    {
                        if (dat.CourseName == ViewBag.courseName)
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>
                                <td>@dat.StudentName</td>
                                <td>@dat.StudentID</td>
                                <td>
                                    @{
                                        if (@dat.GradeMoedA == -1)
                                        {
                                            @ViewBag.noGrade
                                        }
                                        else
                                        {
                                            @dat.GradeMoedA
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (@dat.GradeMoedB == -1)
                                        {
                                            @ViewBag.noGrade
                                        }
                                        else
                                        {
                                            @dat.GradeMoedB
                                        }
                                    }
                                </td>
                                <td>@Html.ActionLink("Update grades", "UpdateGradePage", new { studID = dat.StudentID, CourseID = dat.CourseID })
                                </td>
                            </tr>
                        }
                    }
                </table>
            </p>
        }
    </div>
</body>
</html>
